{% extends "layout.html" %} {% block content %}

<div class="container" id="main">
    <div class="container shadow" id="ride-query">
        <div class="row">
            <div class="col-md-4">
                <input
                    type="text"
                    class="form-control datetimepicker-input"
                    id="datetimepicker"
                    data-toggle="datetimepicker"
                    data-target="#datetimepicker"
                    placeholder="Select Date & Time of Ride"
                />
            </div>
            <div class="col-md-4 form-group">
                <select class="form-control" id="exampleSelect1">
                    <option>Ride 1</option>
                    <option>Ride 2</option>
                    <option>Ride 3</option>
                    <option>Ride 4</option>
                    <option>Ride 5</option>
                </select>
            </div>

            <div class="col-md-4" style="text-align: center">
                <button type="button" class="btn btn-outline-primary btn-block">
                    Find Estimated Waiting Time <i class="fas fa-play" style="margin-left: 10px"></i>
                </button>
            </div>

            <script type="text/javascript">
                $.fn.datetimepicker.Constructor.Default = $.extend(
                    {},
                    $.fn.datetimepicker.Constructor.Default,
                    {
                        icons: {
                            time: "far fa-clock",
                            date: "far fa-calendar-alt",
                            up: "fas fa-chevron-up",
                            down: "fas fa-chevron-down",
                            previous: "fas fa-chevron-left",
                            next: "fas fa-chevron-right",
                            today: "far fa-calendar-check-o",
                            clear: "far fa-trash",
                            close: "far fa-times"
                        }
                    }
                );
                $(function() {
                    $("#datetimepicker").datetimepicker();
                });
            </script>
        </div>
    </div>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit omnis nemo
        repellendus itaque dolores excepturi distinctio provident placeat
        obcaecati maiores, veniam adipisci, exercitationem amet quas. Atque iure
        aliquam perferendis dicta!
    </p>
</div>
{% endblock content %}
