{% extends "layout.html" %} {% block content %}



<div class="container" id="main">
    <div class="container shadow form" id="ride-query">
        <form method="post" id="query-form">
            <div class="row">
                <div class="col-md-3">
                    <input
                        name="datetime"
                        type="text"
                        class="form-control datetimepicker-input"
                        id="datetimepicker"
                        data-toggle="datetimepicker"
                        data-target="#datetimepicker"
                        placeholder="Select Date & Time of Ride"
                        required
                    />
                </div>
                <div class="col-md-3 form-group">
                    <select class="form-control" name="ride" >
                        <option value="" disabled selected>Select ride</option>
                        {% for ride in data %}
                        <option name="{{ data.index(ride) }}" value="{{ data.index(ride) }}">{{
                            ride
                        }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3 form-group">
                    <select class="form-control" name="fastpass">
                        <option value="1">FastPass+ Active</option>
                        <option value="0">FastPass+ Inactive</option>
                    </select>
                </div>

                <div class="col-md-3" style="text-align: center">
                    <button
                        type="button"
                        class="btn btn-outline-primary btn-block"
                        id="query-button"
                    >
                        Find Estimated Waiting Time
                        <!-- <i class="fas fa-play" style="margin-left: 10px"></i> -->
                    </button>
                </div>

                <script type="text/javascript">
                    $.fn.datetimepicker.Constructor.Default = $.extend(
                        {},
                        $.fn.datetimepicker.Constructor.Default,
                        {
                            icons: {
                                time: "far fa-clock",
                                date: "far fa-calendar-alt",
                                up: "fas fa-chevron-up",
                                down: "fas fa-chevron-down",
                                previous: "fas fa-chevron-left",
                                next: "fas fa-chevron-right",
                                today: "far fa-calendar-check-o",
                                clear: "far fa-trash",
                                close: "far fa-times"
                            }
                        }
                    );
                    $(function() {
                        $("#datetimepicker").datetimepicker();
                    });
                </script>
            </div>
        </form>
        <div id="container-result" class="container result">
            <h3>Waiting time for ride: </h3>
            <p id="wait-time-result"></p>
        </div>
    </div>



    <div class="container information">
        <h3>How does SmartQ work?</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit omnis
            nemo repellendus itaque dolores excepturi distinctio provident
            placeat obcaecati maiores, veniam adipisci, exercitationem amet
            quas. Atque iure aliquam perferendis dicta!
        </p>
    </div>

    <div class="container testimonial">
        <h3>Testimonial</h3>
        <p>Hear what our users have to say!</p>
        <div class="row">
            <div
                class="col-lg-4 col-md-4 col-xs-4 thumb"
                style="text-align: center"
            >
                <img
                    class="img-fluid"
                    src="/static/img/testimonial_2_ben.jpg"
                    alt=""
                />
                <p>
                    Never have I taken so many rides in one day. SmartQ makes
                    having fun in DisneyWorld so much easier!
                </p>
            </div>
            <div
                class="col-lg-4 col-md-4 col-xs-4 thumb"
                style="text-align: center"
            >
                <img
                    class="img-fluid"
                    src="/static/img/testimonial_3_dennis.jpg"
                    alt=""
                />
                <p>
                    With SmartQ, I was able to meet my favourite Disney's princess. I even found the time to take pictures with little mermaid!
                </p>
            </div>
            <div
                class="col-lg-4 col-md-4 col-xs-4 thumb"
                style="text-align: center"
            >
                <img
                    class="img-fluid"
                    src="/static/img/testimonial_1_zjh.jpg"
                    alt=""
                />
                <p>
                    Whenever I see people queuing up, I just feel so lucky I have SmartQ.
                </p>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function query_function() {
            
            var datetime = $("input[name='datetime']").val();
            var ride = $("select[name='ride']").val();
            var fastpass = $("select[name='fastpass']").val();

            var data = JSON.stringify({"datetime": datetime, "ride": ride, "fastpass": fastpass});
            
            console.log(data)
            $.ajax({
                type: "POST",
                url: "/query_wait_time",
                data: data,
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function(result) {
                    var selector = "option[name='" + ride + "'][value='" + ride + "']";
                    console.log(selector)
                    var text_result = $(selector).text() + ": " + result + " minutes";
                    $('#wait-time-result').text(text_result);
                    $("#container-result").show();
                },
                error: function(result) {
                    alert("Please fill in all the inputs");
                }
            });
        }

       
        $(function() {
            $("option[name='0'][value='0']").hide();
        });

        $("#query-button").click(function(){ query_function(); });
    </script>

    
</div>
{% endblock content %}