{% extends "layout.html" %} {% block content %}
<div class="container" id="main">
    <div class="container genre-selection">
        <h3>Customize Your Schedule</h3>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <div
                        class="input-group date"
                        id="datetimepicker4"
                        data-target-input="nearest"
                    >
                        <input
                            type="text"
                            class="form-control datetimepicker-input"
                            data-target="#datetimepicker4"
                            placeholder="Select Date of Visit"
                            name="datetime"
                        />
                        <div
                            class="input-group-append"
                            data-target="#datetimepicker4"
                            data-toggle="datetimepicker"
                        >
                            <div class="input-group-text">
                                <i class="fa fa-calendar-alt"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
                $(function() {
                    $("#datetimepicker4").datetimepicker({
                        format: "L"
                    });
                });
            </script>
            <div class="col-sm-6 col-md-3">
                <div class="pretty p-icon p-curve p-jelly">
                    <input
                        type="checkbox"
                        value="Festival"
                        id="festival-checkbox"
                    />
                    <div class="state p-primary">
                        <i class="icon fa fa-check-square"></i>
                        <label class="genre-label" name="Slow">
                            Participate In Festivities
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="pretty p-icon p-curve p-jelly">
                    <input type="checkbox" value="Magic" id="magic-checkbox" />
                    <div class="state p-primary">
                        <i class="icon fa fa-check-square"></i>
                        <label class="genre-label" name="Slow">
                            Have MagicHours
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <h3>Select Types of Rides</h3>
        <form action="/request_genre">
            <!-- add class p-curve -->
            <div class="pretty p-icon p-curve p-jelly">
                <input class="genre-checkbox" type="checkbox" value="Slow" />
                <div class="state p-primary">
                    <i class="icon fa fa-check-square"></i>
                    <label class="genre-label" name="Slow">
                        Slow Rides
                    </label>
                </div>
            </div>

            <div class="pretty p-icon p-curve p-jelly">
                <input class="genre-checkbox" type="checkbox" value="Thrill" />
                <div class="state p-primary">
                    <i class="icon fa fa-check-square"></i>
                    <label id="test" class="genre-label" name="Thrill">
                        Thrill Rides
                    </label>
                </div>
            </div>

            <div class="pretty p-icon p-curve p-jelly">
                <input
                    class="genre-checkbox"
                    type="checkbox"
                    value="Interactive"
                />
                <div class="state p-primary">
                    <i class="icon fa fa-check-square"></i>
                    <label class="genre-label" name="Interactive">
                        Interactive Rides
                    </label>
                </div>
            </div>

            <div class="pretty p-icon p-curve p-jelly">
                <input class="genre-checkbox" type="checkbox" value="Show" />
                <div class="state p-primary">
                    <i class="icon fa fa-check-square"></i>
                    <label class="genre-label" name="Show">
                        Shows
                    </label>
                </div>
            </div>
        </form>
        <h3>Select Specific Rides</h3>
        <form action="/request_schedule">
            <div class="row">
                {% for ride in data %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="pretty p-icon p-curve p-jelly">
                        <input
                            class="schedule-ride"
                            type="checkbox"
                            id="ride-{{ data.index(ride) }}"
                            value="{{ data.index(ride) }}"
                        />
                        <div class="state p-primary">
                            <i class="icon fa fa-check-square"></i>
                            <label
                                name="{{ data.index(ride) }}"
                                value="{{ data.index(ride) }}"
                            >
                                {{ ride }}
                            </label>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div>
        </form>
        <button
            type="button"
            class="btn btn-primary btn-block"
            id="generate-schedule"
        >
            Generate Optimal Schedule
        </button>
        <div class="container schedule-result">
            <table class="table" style="display: none">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ride</th>
                        <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(function() {
        $(".genre-checkbox").click(function() {
            if ($(this).prop("checked") == true) {
                fetch("/query/" + $(this).val()).then(function(response) {
                    response.json().then(function(data) {
                        for (let ride of data.rides) {
                            var selector = "#ride-" + ride;
                            $(selector).prop("checked", true);
                        }
                    });
                });
            } else if ($(this).prop("checked") == false) {
                fetch("/query/" + $(this).val()).then(function(response) {
                    response.json().then(function(data) {
                        for (let ride of data.rides) {
                            var selector = "#ride-" + ride;
                            $(selector).prop("checked", false);
                        }
                    });
                });
            }
        });
    });

    function generate_schedule() {
        var magic;
        if ($("#magic-checkbox").prop("checked") == true) {
            magic = true;
        } else if ($("#magic-checkbox").prop("checked") == false) {
            magic = false;
        }

        var festival;
        if ($("#festival-checkbox").prop("checked") == true) {
            festival = true;
        } else if ($("#festival-checkbox").prop("checked") == false) {
            festival = false;
        }

        var date = $("input[name='datetime']").val();

        var date_array = date.split("/");
        var day = date_array[0];
        if (day.charAt(0) == "0") {
            day = day.replace("0", "");
        }
        var month = date_array[1];
        if (month.charAt(0) == "0") {
            month = month.replace("0", "");
        }
        var year = date_array[2];

        var ride_list = [];
        var counter = 0;

        $(".schedule-ride").each(function(index) {
            if ($(this).prop("checked") == true) {
                ride_list[counter] = $(this).val();
                counter += 1;
                console.log($(this).val());
            }
        });

        var data = JSON.stringify({
            day: day,
            month: month,
            year: year,
            ride_list: ride_list,
            magic_hour_bool: magic,
            festival_bool: festival
        });

        console.log(data);
        $(".schedule-result").prepend(
            "<img id='loading-image' src='/static/img/loading2.gif' width='300px'>"
        );
        $("#table-body").empty()
        $("table").hide();


        $([document.documentElement, document.body]).animate(
            {
                scrollTop: $(".schedule-result").offset().top
            },
            2000
        );

        $.ajax({
            type: "POST",
            url: "/generate_schedule",
            data: data,
            headers: {
                "Content-Type": "application/json"
            },
            success: function(result) {
                $("table").show();
                $("#loading-image").remove();
                for (var key in result) {
                    var order = parseInt(key) + 1
                    console.log(result[key].ride_name)
                    time = result[key].datetime
                    $("#table-body").append(
                        "<tr><th scope='row'>"+ order.toString() +"</th><td>"+ result[key].ride_name +"</td><td>"+ time.slice(17, -4) +"</td></tr>"
                    );
                }

            },
            error: function(result) {
                $("#loading-image").remove();
                console.log(result);
            }
        });
    }

    $("#generate-schedule").click(function() {
        generate_schedule();
    });
</script>

{% endblock content %}
