body {
    background: #f3f3f9 !important;
    font-family: "Helvetica", sans-serif !important;
}

/* Result stuff */
.container.result {
    display: none;
    margin: 20px auto 10px auto;
    border-color: #e0e0e0;
    border-style: solid;
    background-color: #fff;
    border-radius: 5px;
}

.container.result > h3 {
    text-align: center;
    color: #2B81A5;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.container.result > p {
    text-align: center;
    padding-bottom: 10px;
}

/* Information Stuff */
.container.information {
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

.container.information > h3 {
    text-align: center;
    color: #2B81A5;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
}

.container.information > h5 {
    text-align: left;
    color: #2B81A5;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 15px;
}

.container.information > .row{
    margin-top:30px;
}
.container.information > .row > div >img {
    height: 90px;
}

.container.information > p {
    text-align: center;
    padding-bottom: 10px;
}
.getStartedButton{
    text-align: center;
    margin: 5% 0 3% 0;
}
.btn.btn-info{
    text-align: center;
    background-color:#03B3D7;
    border:0px;
}

.btn.btn-info:hover{
    background-color:rgba(3, 179, 215, 0.65);
}
/* Ride-Statistics */
.container.ride-statistics {
    margin: auto;
}

.container.ride-statistics > h3 {
    /* text-align: center; */
    color: #2B81A5;
    padding-bottom: 10px;
    margin: 15px auto 15px auto;
    font-weight: 700;
    border-bottom: 1px solid #888;
}

.container.ride-statistics > form {
    padding-bottom: 30px;
}

/* Genre-Selection */
.container.genre-selection {
    margin: auto;
}

.container.genre-selection > h3 {
    /* text-align: center; */
    color: #2B81A5;
    padding-bottom: 10px;
    margin: 15px auto 15px auto;
    font-weight: 700;
    border-bottom: 1px solid #888;
}

.container.genre-selection > form {
    padding-bottom: 30px;
}

/* Testimonial Stuff */
.container.testimonial {
    margin-top: 50px;
}

.container.testimonial > h3 {
    text-align: center;
    color: #2B81A5;
    margin: 15px auto 0 auto;
    padding-top: 20px;
    font-weight: 700;
}

.container.testimonial > p {
    text-align: center;
    padding-bottom: 10px;
}

.container.testimonial > .row > div > img {
    width: 60%;
    border-radius: 50%;
    border-color: #eee;
    border-width: 1px;
    border-style: ridge;
}

.container.testimonial > .row > div > p {
    margin: 10px;
}

/* For the query container */
.container#main {
    background: #fff;
    height: auto;
}

.container#ride-query {
    position: relative;
    padding: 15px 10px 15px 10px;
    margin: -40px 20px 50px 20px;
    z-index: 10000;
    background: #f3f3f3;
    border-radius: 5px;
    width: auto;
}

.container#ride-query > .row {
    padding: 20px 20px;
}

form > .row > .col-md-4 {
    margin-bottom: 0px;
}

#ride-query > .row > .col-md-4 {
    margin: 5px 0;
}

/* Btns */
.btn-primary {
    background-color: #03B3D7;
    border-color: #03B3D7;
}

.btn-primary:hover {
    background-color: #03B3D7;
    border-color: #03B3D7;
}

.btn-primary:focus {
    background-color: #2B81A5;
    border-color: #2B81A5;
}

.btn-primary:active {
    background-color: #467c83 !important;
    border-color: #467c83 !important;
}

.btn-outline-primary {
    color: #2B81A5;
    border-color: #2B81A5;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #2B81A5 !important;
    border-color: #337ab7 !important;
}

.btn-outline-primary::selection {
    color: white;
    background-color: #2B81A5 !important;
    border-color: #2B81A5 !important;
}

/* Others */

.container {
    margin: 0 auto 0 auto;
    padding: 15px 15px 15px 15px;
}

.jumbotron {
    margin-bottom: 0;
    background-image: url(/static/img/background.jpg);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 0%;
    position: relative;
    overflow: hidden;
    text-align: center;
    color: white;
}

.jumbotron > p {
    padding: 20px 50px 80px 50px;
}

.jumbotron > h1 {
    padding: 100px 0 0 0;
    text-shadow: 1px 1px rgb(85, 85, 85);
}

.jumbotron > img {
    padding: 100px 0 0 0;
}

.come-in {
    transform: translateY(150px);
    animation: come-in 0.6s ease forwards;
}
.come-in:nth-child(odd) {
    animation-duration: 0.4s;
}

/*Plain header*/
#header.container-fluid{
    padding-bottom: 40px;
    background-color: #03B3D7;
    height: 40%;
}

/* Calender */
section.month {
    overflow: hidden;
    display: block;
    width: 420px;
    height: auto;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

section > h3 {
    text-align: center;
    color: #2B81A5;
    margin: 15px auto 0 auto;
    padding-top: 20px;
    font-weight: 700;
}

section > h3 > .btn {
    text-align: center;
    color: #2B81A5;
    font-size: 28px;
}
section > h3 > .btn :hover {
    font-style: italic;
    color: #fff;
    font-size: 35px;
}

article {
    padding: 6px 0 25px 25px;
}
article b,
article span {
    display: block;
    float: left;
    width: 45px;
    height: 45px;
    margin: 4px;
    text-align: center;
}
article b {
    font: 600 16px/45px "Open Sans";
    color: #2B81A5;
}
article span {
    font: 300 19px/45px "Open Sans";
    color: #222;
    box-shadow: inset 0 0 1px 1px #d9dce5;
    border-radius: 2px;
    cursor: pointer;
}
article span.disable {
    color: #b6bacc;
    box-shadow: inset 0 0 1px 1px #f3f4f7;
}
article span:not(.disable):hover {
    background: #cdd0dd;
    box-shadow: inset 0 0 1px 1px #d9dce5, 0 1px 3px -1px #cdd0dd;
}
/* article span:not(.disable):active {
    background: #b9becf;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.18), 0 0 0 #cdd0dd;
} */
/* article span.active,
article span.active:hover,
article span.active:active {
    color: #fff;
    box-shadow: inset 0 0 1px 1px #ff8263, 0 1px 3px -1px #ff8263;
    background: #ff8263;
} */
article div {
    display: block;
    overflow: hidden;
    clear: both;
}

@keyframes come-in {
    to {
        transform: translateY(0);
    }
}

@media (min-width: 768px) {
    .jumbotron {
        height: 500px;
        width: 750px;
    }
    .jumbotron > p {
        padding: 20px 80px 80px 80px;
    }
}

@media (min-width: 992px) {
    .jumbotron {
        height: 550px;
        width: 100%;
    }
    .jumbotron > p {
        padding: 20px 100px 80px 100px;
    }
}

@media (min-width: 1200px) {
    .jumbotron {
        height: 500px;
        width: 100%;
    }
    .jumbotron > p {
        padding: 20px 200px 80px 200px;
    }
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
